# Obtenha uma chave de API gratuita
# em https://www.visualcrossing.com/sign-up
WTH_API=
WTH_LANG=pt

# Define o token de acesso de uma conta Mastodon
# e em qual instância ela se encontra
MASTODON_TOKEN=
MASTODON_BASE_URL=

# Define as mensagens que são exibidas na bio do robô
# quando ele está ou não em execução
MASTODON_BIO_ONLINE="Oi! Sou um robô que responde com o clima da cidade que você me perguntar. Basta me citar em uma mensagem contendo o nome do município desejado.\n\nExemplo: como está o clima em Recife?\nCaso a resposta mencione a cidade errada, informa o estado: Recife, PE\n\n🟢 Status: estou aqui"
MASTODON_BIO_OFFLINE="Oi! Sou um robô que responde com o clima da cidade que você me perguntar. Basta me citar em uma mensagem contendo o nome do município desejado.\n\nExemplo: como está o clima em Recife?\nCaso a resposta mencione a cidade errada, informa o estado: Recife, PE\n\n🔴 Status: volto já"

# Não mexa na linha abaixo a menos
# que saiba o que está fazendo
UTW_NER_MODEL=pt_core_news_md

# Defina abaixo o tempo que o robô precisa esperar por uma
# resposta da API. Caso o tempo expire, será retornado um
# erro 429 e um toot-resposta dizendo que o bot está sobrecarregado.
API_TIMEOUT=15

# Descomente a linha abaixo e defina uma mensagem de resposta
# para ativar o modo manutenção. O trecho {} deve ser mantido
# para ser substituído pelo usuário a quem se está respondendo.
#MAINTENANCE_STATUS="Desculpa {}, estou de folga no momento. É feriado de robôs!"