# get your free API key at https://www.visualcrossing.com/sign-up
WTH_API=
WTH_LANG=pt

MASTODON_TOKEN=
MASTODON_BASE_URL=https://bolha.one

MASTODON_BIO_ONLINE="Oi! Sou um robô que usa informações do OpenWeatherMap para te responder com o clima da cidade que você me perguntar. Basta me citar mencionando somente o nome da cidade desejada.\n\n🟢 Status: estou aqui"
MASTODON_BIO_OFFLINE="Oi! Sou um robô que usa informações do OpenWeatherMap para te responder com o clima da cidade que você me perguntar. Basta me citar mencionando somente o nome da cidade desejada.\n\n🔴 Status: volto já"